.page {
    max-width: 320px;
    background-color: #2A2C2F;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    color: white;
    margin: 0;
}

@media screen and (min-width:768px)  {
    .page {
        max-width: 768px;
    }
}