.lead {
max-width: 100vw;
}

@media screen and (min-width: 1024px)  {
    .lead {
        padding: 0 48px 92px;
    }
}

@media screen and (min-width: 1280px)  {
    .lead {
        padding: 0 148px 92px;
    }
}