.lead__image {
    background-image: url(/images/lead-polka.jpg);
    width: 100vw;
    height: 62.5vw;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px)  {
    .lead__image {
        max-width: 100%;
        margin-bottom: 8px;
    }
}