.cover__title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0 12%;
    z-index: 6;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        margin-left: 28%;
        margin-right: 28%;
    }
}